.editorDocumento {
    border: none;
    height: 30em;
    width: 95%;
    padding: 1em 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.editorGroupButton {
    margin-left: 1em;
    margin-right: 1em;
    border-right: #aaa solid 1px;
    float: left;
    padding-right: 1em;
}

.editorButton {    
    background-color: transparent;
    border: none;
    margin: 1px;
    width: 2em;
    height: 2em;
    border-radius: 50% 50%;
    color: #323232;
    cursor: pointer;
}

.editorButton:active {
    background-color: #aaa;
    color: #fff;
}

.editorButton.ativo {
    background-color: #3F51B5;
    color: #fff;
}

.editorButton:hover {
    color: #aaa
}

.editorBotoes {
    width: 100%;
    margin: 1em 1em;
    padding-bottom: 2em;
}

.editorSelect {
    background: none;
    border: none;
    margin: 1em;
}

