//   Formatação

%formato-itens {
    border: none;
    margin: 1px;
    box-sizing: border-box;
}

// Visual

%visual-botao {
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 50% 50%;
    color: $color;
    cursor: pointer;
}

%visual-select {
    height: 2em;
    background: none;
    border: none;
    color: $color;
}

// Definição de classes

.editto_button__icon {

    @extend %formato-itens;
    @extend %visual-botao;

    &:active {
        background-color: $color-background-active;
        color: $color-active;
    }

    &.editto_button__icon.ativo {
        background-color: $color-background-active;
        color: $color-active;
    }

    &:hover {
        color: $color-hover;
    }

}

.editto_select {
    @extend %formato-itens;
    @extend %visual-select;
}