//   Formatação

%formato-itens {
    border: none;
    margin: 1px;
    box-sizing: border-box;
    height: 2.2em;
}

// Visual

%visual-botao {
    background-color: transparent;
    color: $color;
    cursor: pointer;
}

%visual-select {
    background: none;
    border: none;
    color: $color;
}

// Definição de classes

.editto_button__icon {

    @extend %formato-itens;
    @extend %visual-botao;
    
    width: 2.2em;
    border-radius: 50% 50%;

    &:active {
        background-color: $color-background-active;
        color: $color-active;
    }

    &.editto_button__icon.ativo {
        background-color: $color-background-active;
        color: $color-active;
        svg {
            fill: $color-active;
        }
    }

    &:hover {
        color: $color-hover;

        svg {
            fill: $color-hover;
        }
    }

}

.editto_button__text {

    @extend %formato-itens;
    @extend %visual-botao;

    &:active {
        background-color: $color-background-active;
        color: $color-active;
    }

    &.editto_button__icon.ativo {
        background-color: $color-background-active;
        color: $color-active;
    }

    &:hover {
        color: $color-hover;
    }

}

.editto_select {
    @extend %formato-itens;
    @extend %visual-select;
}

/**
 * O ícone dentro do bloco de botão
 */
.editto_button__icon_icon {
    height: 100%;
    width: 100%;
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;*/

    svg {
        width: 100%;
        height: 100%;
        fill: $color;
    }
}