.editto_document {
  border: 2px #eee solid;
  border-radius: 20px; }

.editto_bar {
  width: 100%;
  margin: 1em 1em;
  padding-bottom: 2em;
  box-sizing: border-box; }

.editto_button__icon, .editto_select {
  border: none;
  margin: 1px;
  box-sizing: border-box; }

.editto_button__icon {
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 50% 50%;
  color: #323232;
  cursor: pointer; }

.editto_select {
  height: 2em;
  background: none;
  border: none;
  color: #323232; }

.editto_button__icon:active {
  background-color: #F44336;
  color: #fff; }

.editto_button__icon.editto_button__icon.ativo {
  background-color: #F44336;
  color: #fff; }

.editto_button__icon:hover {
  color: #aaa; }

.editto_document {
  height: 30em;
  width: 95%;
  padding: 1em 1em;
  box-sizing: border-box; }

.editto_document:active, .editto_document:focus {
  border-color: #F44336; }

.editto_group {
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  padding-right: 1em;
  box-sizing: border-box; }

.editto_group {
  border-right: #ddd solid 1px; }
