@charset "UTF-8";
.editto_document {
  border: 2px #eee solid;
  border-radius: 20px; }

.editto_bar {
  width: 100%;
  margin: 1em 1em;
  padding-bottom: 2em;
  box-sizing: border-box; }

.editto_button__icon, .editto_button__text, .editto_select {
  border: none;
  margin: 1px;
  box-sizing: border-box;
  height: 2.2em; }

.editto_button__icon, .editto_button__text {
  background-color: transparent;
  color: #323232;
  cursor: pointer; }

.editto_select {
  background: none;
  border: none;
  color: #323232; }

.editto_button__icon {
  width: 2.2em;
  border-radius: 50% 50%; }
  .editto_button__icon:active {
    background-color: #F44336;
    color: #fff; }
  .editto_button__icon.editto_button__icon.ativo {
    background-color: #F44336;
    color: #fff; }
    .editto_button__icon.editto_button__icon.ativo svg, .editto_button__icon.editto_button__icon.ativo rect, .editto_button__icon.editto_button__icon.ativo circle, .editto_button__icon.editto_button__icon.ativo g {
      fill: #fff; }
  .editto_button__icon:hover {
    color: #aaa; }
    .editto_button__icon:hover svg, .editto_button__icon:hover rect, .editto_button__icon:hover circle, .editto_button__icon:hover g {
      fill: #aaa; }

.editto_button__text:active {
  background-color: #F44336;
  color: #fff; }

.editto_button__text.editto_button__icon.ativo {
  background-color: #F44336;
  color: #fff; }

.editto_button__text:hover {
  color: #aaa; }

/**
 * O ícone dentro do bloco de botão
 */
.editto_button__icon_icon {
  height: 100%;
  width: 100%;
  /*background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;*/ }
  .editto_button__icon_icon svg {
    width: 100%;
    height: 100%;
    fill: #323232; }
  .editto_button__icon_icon svg, .editto_button__icon_icon rect, .editto_button__icon_icon circle, .editto_button__icon_icon g {
    fill: #323232; }
  .editto_button__icon_icon text {
    font-family: sans-serif; }

.editto_document {
  height: 30em;
  width: 95%;
  padding: 1em 1em;
  box-sizing: border-box; }

.editto_document:active, .editto_document:focus {
  border-color: #F44336; }

.editto_group {
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  padding-right: 1em;
  box-sizing: border-box; }

.editto_group {
  border-right: #ddd solid 1px; }
